
<div class=" img-fluid">
  <section class="masterclass">
    <div class="position-relative overflow-hidden p-3 p-md-5  text-center masterclass__header">
      <div class="p-lg-5 mx-auto my-1">
        <h1 class="texto-centradoArriba fw-normal">¿Eres Director o Gerente de Empresa,  Ingeniería o de Tecnología de Información?</h1>
        <strong><p class="centrado">En esta Masterclass podrás contar con una <span style="font-weight: bold;">GUIA</span> del proyecto para su transformación. Además, contarás con el <span style="font-weight: bold;">ANÁLISIS</span> de procesos, selección de <span style="font-weight: bold;">TECNOLOGÍAS</span> y su <span style="font-weight: bold;">ESTRATEGIA</span> para implementarla. </p></strong>
      </div>
    </div>

    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="m-5 p-md-5 text-center master_contenedor">
          <img class="img1" src="../assets/Img/Logo masterClass.png"/>
            <h3>TRANSFORMACIÓN</h3>
            <h2>DIGITAL</h2>
            <p class="text1" >Impartida por el Mtro. Rosalino Zamorano</p>
            <p class="text_green" style="">Martes 08 de Junio</p>
            <p class="text_green mb-4" style="font-size: 190%; font-weight: bold; color: #1C8C90;">Vía ZOOM </p> 
            <button class="btn btn-primary button_green" >Registrarme ahora</button>
        </div>
      </div>
    </div>
  </section>

  <section class="experiencia">
    <div class="container-fluid experiencia_container">
      <div class="row">
        <div class="col-12 text-center">
            <h3 class="experiencia_header">Impartido por<br> Mtro. Rosalino Zamorano</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img class="" src="../assets/Img/Estrella.png"/>
              <p>Amplia experiencia como Director de tecnoligías de Información</p>
          </div>
        </div>
        <div class="col-8">
          <ul class="flecha">
            <li  *ngFor="let item of arreglo">{{item}}</li> 
          </ul>
        </div>
  
        <div class="col-4">
          <div class="card">
            <img class="" src="../assets/Img/Estrella.png"/>
              <p>Ingeniero en proyectos de implementación de ERp BAANV y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI</p>
          </div>
        </div>
        <div class="col-6 card_large">
          <div class="card ">
            <img class="" src="../assets/Img/Estrella.png"/>
            <ul class="text-start mt-4">
              <li>Gerente de cómputo y comunicaciones</li>
              <li>Gerente de desarrollo de Software</li>
              <li>Desarrollador de Sistemas</li>
              <li>Administrador de Redes y Equipos de Cómputo</li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </section>

  
  <section class="eventos">
    <div class="eventos_container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="eventos_header_title"><span style="font-weight: bold">Evento Gratuito</span> dirigido a <br> profesionales de la industria</h1>
          </div>
        </div>
        <div class="col-4 position-relative">
          <span class="line_vert"></span>
          <p class="eventos_header_text">"Nuestro mercado es global, pero nuestra competencia también esta de ese tamaño"</p>
        </div>
        <div class="col-4 position-relative">
          <span class="line_vert"></span>
          <p class="eventos_header_text">"Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente aplicación de los recuros con mejor ROI</p>
        </div>
        <div class="col-4 position-relative">
          <span class="line_vert"></span>
          <p class="eventos_header_text">"La Transformación Digital provoca que todo sea más rápido y eficiente"</p>
        </div>
      </div>
    </div>
  </section>
    
  <section class="Trans_digital">
    <div class="row">
      <div class="col-6">
        <div class="Trans_digital_container position-relative">
          <span class="line_horiz"></span>
          <h1>La Transformación Digital provoca que todo sea más rápido y eficiente</h1>
          <h4>"La capacidad de adaptarse a la nueva realidad es la clave de la Transformación Digital"</h4>
          <div class="trans_video ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W6jm0dWnup0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <h5><span style="font-weight: bold">Descubre entre otros temas:</span></h5>
          <ul class="trans_lista">
            <li class="trans_lista_img1">Estrategia</li>
            <li class="trans_lista_img2">Selección de tecnologías</li>
            <li class="trans_lista_img3">Análisis de procesos en la Insdustria 4.0</li>
            <li class="trans_lista_img4">Hoja de ruta para una implementación exitosa</li>
            <li class="trans_lista_img5">Qué hacer para obtener el máximo aprovechamiento</li>
          </ul>
      </div>
    </div>

      <div class="col-6">
        <div class="Trans_digital_form">
          <form>
            <div class="form-group">
              <h1>No pierdas la oportunidad <br> ¡Regístrate ahora!</h1>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" id="nombre">
              </div>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Apellido</label>
               <input type="text" class="form-control" id="apellido">
              </div>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Télefono o celular</label>
                <input type="text" class="form-control" id="telefono">
              </div>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Empresa</label>
                <input type="text" class="form-control" id="empresa">
              </div>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Cargo</label>
                <input type="text" class="form-control" id="cargo">
              </div>
              <div class="Trans_digital_form_inputs">
                <label for="exampleFormControlInput1">Mail</label>
                <input type="text" class="form-control" id="mail">
              </div>
            </div>
            <div class="Trans_digital_form_inputs">
              <div class="form-group">
                <label for="ControlSelect">Entidad Federativa</label>
                <select class="form-control" id="Entidadfederativa" readonly>
                  <option selected>Selecciona tu Entidad Federativa</option>
                  <option>1</option>
                  <option>2</option>    
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Registrarme</button>
            </div>
          </form>
      </div>
      </div>
    </div> 
  </section>

  <section class="Super_heroe">
    
  </section>

  <footer class="footer">
    <img src="../assets/Img/DMD Logo.png">
  </footer>
</div>